{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="register-container">
        <h1>S'enregistrer</h1><br>
        <form>
            {{ form_row(form.email, {'attr': {'class': 'inputC'}}) }}
            {{ form_row(form.username, {'attr': {'class': 'inputC'}}) }}
            {{ form_row(form.plainPassword.first, {'attr': {'class': 'inputC'}}) }}
            {{ form_row(form.plainPassword.second, {'attr': {'class': 'inputC'}}) }}
            {{ form_rest(form) }}

            <input type="submit" class="register register-submit" id="_submit" name="_submit"  />
        </form>
        <div class="login-help">
            <a href="{{ path('fos_user_security_check') }}">Login</a>
        </div>
    </div>
{{ form_end(form) }}
